@page "/product/price/{Id:int}"
@inject IProductRepository _productRepository
@inject IProductPriceRepository _productPriceRepository

<h3 class="card-title text-primary mb-3 ml-3">Product Price Managment</h3>
 @if (IsLoading)
{
             <div class="text-center">
                <img src="/images/loading.gif">
    </div>
}
else
{
    <div class="row border p-2 mb-4">
        <div class="col-11">
            <div class="card-body">
                <h4>@Product.Name</h4>
                <span>Category : @Product.Category.Name</span> <br/>
                    Description : <span>@((MarkupString)Product.Description)</span>
            </div>
        </div>
        <div class="col-1">
            <img src="@Product.ImageUrl" class="w-100">
        </div>
    </div>

     <SfGrid @ref="productPriceGrid" DataSource="@ProductPrices" AllowPaging="true"
     Toolbar="@(new List<string>{"Add","Edit","Update","Delete","Cancel"})">
         <GridEditSettings AllowAdding="true" AllowEditing="true" ShowDeleteConfirmDialog="true" AllowDeleting="true"></GridEditSettings>
         <GridEvents OnActionBegin="ActionHandler" TValue="ProductPriceDTO"></GridEvents>


                <GridColumns>
                    <GridColumn Field=@nameof(ProductPriceDTO.Id) HeaderText="ID" ></GridColumn>
                    <GridColumn Field=@nameof(ProductPriceDTO.Size) HeaderText="Size" >
                        <EditTemplate>
                            <Syncfusion.Blazor.DropDowns.SfDropDownList DataSource="SizeList" TItem="string" TValue="string"
                            @bind-Value="((context as ProductPriceDTO).Size)">

                            </Syncfusion.Blazor.DropDowns.SfDropDownList>
                        </EditTemplate>
                    </GridColumn>
                    <GridColumn Field=@nameof(ProductPriceDTO.Price) HeaderText="Price" Format="C2"  ></GridColumn>
    </GridColumns>
    </SfGrid>
}



@code {
    [Parameter]
    public int Id { get; set; } 
    private ProductDTO Product { get; set; } = new();
    private IEnumerable<ProductPriceDTO> ProductPrices { get; set; } = new List<ProductPriceDTO>();
    private bool IsLoading { get; set; } = true;
    public SfGrid<ProductPriceDTO> productPriceGrid;


    IEnumerable<String> SizeList = new List<String>()
    {
        "Small","Medium","Large","8oz","16oz","24oz"
    };

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            IsLoading=true;
            StateHasChanged();
            Product = await _productRepository.Get(Id);
            ProductPrices = await _productPriceRepository.GetAll(Id);
            IsLoading=false;
            StateHasChanged();
        }   
    }

    public async void ActionHandler(ActionEventArgs<ProductPriceDTO> args)
    {
        if(args.RequestType.Equals(Syncfusion.Blazor.Grids.Action.Save))
        {
            args.Data.ProductId=Id;
            if (args.Action=="Add")
            {
                await _productPriceRepository.Create(args.Data);
                ProductPrices = await _productPriceRepository.GetAll(Id);
                productPriceGrid.Refresh(); 
            }
            if (args.Action=="Edit")
            {
                
            }
        }


    }
}
